@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --gradient: linear-gradient(to right, #234eb0, #b656e2);
  --navyBlue: #354364;
  --normal: #555e73;
}
html {
  font-family: "Poppins", sans-serif;
  cursor: default;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
  z-index: 1001;
}
#sciastra_icon_link {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sciastra_icon {
  width: 4rem;
  height: 4rem;
}
#nav_list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 70%;
}
.desk_list_item {
  color: white;
  margin: 0;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.direct_links {
  color: white;
  text-decoration: none;
}
.desk_big_div {
  position: absolute;
  width: 10rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.119) 0px 10px 50px;
  display: none;
}
.desk_sm_div {
  background-color: #ffffff1b;
  z-index: 1001;
  padding: 0.25rem;
  cursor: default;
}
.sm_div_link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
}
.desk_sm_div:hover {
  background-color: transparent;
}
.desk_list_item:hover {
  transform: scale(1.1);
}
.desk_list_item:hover > div {
  display: block;
}
.login {
  color: white;
  text-decoration: none;
  padding: 0.4rem 2rem;
  background: var(--gradient);
  border-radius: 1.5rem;
  font-weight: 200;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1002;
}
.bun-one,
.bun-two,
.bun-three {
  background: var(--gradient);
  padding: 0.15rem 1.2rem 0.15rem 1.2rem;
  transition: 0.3s ease-in;
}
.hamburger.activeham .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.activeham .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.activeham .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: 0.3s ease-in;
  display: none;
}
#ph_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0.5rem;
}
#ph_list_item {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  background: var(--gradient);
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
}
.ph_drct_link {
  text-decoration: none;
  color: white;
}
.subDom {
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
}
.ph_ind_link {
  color: rgba(255, 255, 255, 0.608);
  text-decoration: none;
  font-size: 1.3rem;
}
.subDom.activeBox {
  border-top: 1px solid white;
  max-height: 17rem;
}
.login {
  display: block;
}
.nav-menu.activeMenu {
  left: 0;
}

@media screen and (max-width: 786px) {
  .homeNav {
    justify-content: space-between;
    width: 95%;
    justify-self: center;
    align-self: center;
  }
  .homeNav > a {
    z-index: 1002;
  }
  .homeNav > ul {
    display: none !important;
  }
  .homeNav > .login {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .nav-menu {
    display: flex;
  }
}
